@use 'base/variables' as v;
@use 'mixins' as m;


.about-us{

    .about-us-content_flex{
       display: flex;
       align-items: center;
       gap: 3rem;
       margin-bottom: 3rem;

       .about-us-content_video{
            
            flex: 1 1 85rem;
        video{
            width: 100%;
            
        }
      }
    }
    

    .about-us-content_grid{
        @include m.grid(16rem, 3rem);
        .about-us-content_text{
            p {
                margin-bottom: 4rem;
            }
        }
    }

    .about-us-content_number{
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        background-color: v.$blancoClaro;
        padding: 3rem;
        text-align: center;
        
        h2, p{
            margin: 0;
        }
    }
}
