
//Tipografias
$fuentePrincipal: 'Poppins', sans-serif;

// Colores
$amarillo:#f5bf23;
$negro:#111;
$blanco:#fff;
$blancoClaro:darken(#fff, 5%);
$gris:#666;
$light-bg:#eee;
$sombra:0 .5rem 1rem rgba(0,0,0,.1);
$border:.1rem solid rgba(0,0,0,.3);



   